doctype html
html
  head
    title= "chè cô hương"
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')

    script(type='text/javascript', src= 'javascripts/jquery-1.11.1.min.js')
    script(type='text/javascript', src= 'javascripts/wow.min.js')
    script(type='text/javascript', src= 'javascripts/jquery.flexisel.js')
    script(type='text/javascript', src= 'javascripts/bootstrap.js')
  body
    block content
